:root {
  --green-light-1: #a8e6cf;
  --green-light-2: #c5e8a9;
  --green-dark-1: #4caf50;
  --green-dark-2: #426b1f;
  --green-dark-3: #388e3c;

  --beige-1: #f1f1f1;
  --beige-2: #ffffff;
  --beige-3: #e6e6e6;
  --beige-4: #fff8e1;
  --beige-5: #fefefe;

  --orange: #ff9800;
  --yellow: #ffc107;

  --blue-light-1: #81d4fa;
  --blue-light-2: #b3e5fc;

  --gray-light-1: #e0e0e0;
  --gray-light-2: #b0bec5;
}

.footerHomePage {
  background-color: var(--green-dark-1);
  color: var(--beige-1);
  padding: 20px 0;
  text-align: center;
  margin-top: 10%;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.footerSection {
  min-width: 200px;
  margin: 10px;
}

.footerSection h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--green-dark-2);
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin: 5px 0;
}

.footerSection a {
  color: var(--beige-1);
  text-decoration: none;
  transition: 0.3s;
}

.footerSection a:hover {
  color: var(--green-dark-2);
}

.footerCopy {
  margin-top: 15px;
  font-size: 20px;
  opacity: 0.7;
}
