:root {
  --green-light-1: #a8e6cf;
  --green-light-2: #c5e8a9;
  --green-dark-1: #4caf50;
  --green-dark-2: #426b1f;
  --green-dark-3: #388e3c;

  --beige-1: #f1f1f1;
  --beige-2: #ffffff;
  --beige-3: #e6e6e6;
  --beige-4: #fff8e1;
  --beige-5: #fefefe;

  --orange: #ff9800;
  --yellow: #ffc107;

  --blue-light-1: #81d4fa;
  --blue-light-2: #b3e5fc;

  --gray-light-1: #e0e0e0;
  --gray-light-2: #b0bec5;
}

.footerHomePage {
  background-color: var(--green-dark-1);
  color: var(--beige-1);
  padding: 20px 0;
  text-align: center;
  margin-top: 10%;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.footerSection {
  min-width: 200px;
  margin: 10px;
}

.footerSection h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--green-dark-2);
}

.buttonLinks {
  border: none;
  background-color: var(--green-dark-1);
  font-size: 15px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin: 5px 0;
}

.footerSection a,
button {
  color: var(--beige-1);
  text-decoration: none;
  transition: 0.3s;
}

.footerSection a:hover {
  color: var(--green-dark-2);
}

.footerCopy {
  margin-top: 15px;
  font-size: 20px;
  opacity: 0.7;
}

.modal {
  background-color: var(--beige-1);
  color: var(--green-dark-1);
  box-shadow: 0 0 10px var(--green-dark-3);
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modalContent p {
  font-size: 20px;
  padding: 30px;
  text-align: justify;
}

.buttonLinks:hover {
  color: var(--green-dark-2);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.modalHeader h2 {
  font-size: 22px;
}

.modalHeader button {
  margin-left: 450px;
}

.closeModalButton {
  background-color: var(--green-dark-1);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.closeModalButton svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.closeModalButton:hover {
  background-color: #ff0000;
  transition: 0.2s;
}