:root {
  --green-light-1: #a8e6cf;
  --green-light-2: #c5e8a9;
  --green-dark-1: #4caf50;
  --green-dark-2: #426b1f;
  --green-dark-3: #388e3c;

  --beige-1: #f1f1f1;
  --beige-2: #ffffff;
  --beige-3: #e6e6e6;
  --beige-4: #fff8e1;
  --beige-5: #fefefe;

  --orange: #ff9800;
  --yellow: #ffc107;

  --blue-light-1: #81d4fa;
  --blue-light-2: #b3e5fc;

  --gray-light-1: #e0e0e0;
  --gray-light-2: #b0bec5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Newsreader", serif;
}

div .navbar {
  background-color: var(--beige-5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.titleAndImage {
  display: flex;
  position: absolute;
  top: 35px;
  left: 20px;
}

.title {
  font-size: 40px;
  margin-top: 15px;
}

.title a {
  text-decoration: none;
  color: var(--green-dark-1);
}

.imgHome {
  width: 2.5rem;
  margin-left: 8px;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: safe;
  list-style: none;
  margin: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.navbarContainer a {
  text-decoration: none;
  color: var(--green-dark-1);
  font-size: 20px;
  margin-left: 50px;
  margin-top: 10px;
}

.navbarContainer a:hover {
  color: var(--green-dark-2);
}