:root {
  --green-light-1: #a8e6cf;
  --green-light-2: #c5e8a9;
  --green-dark-1: #4caf50;
  --green-dark-2: #426b1f;
  --green-dark-3: #388e3c;

  --beige-1: #f1f1f1;
  --beige-2: #ffffff;
  --beige-3: #e6e6e6;
  --beige-4: #fff8e1;
  --beige-5: #fefefe;

  --orange: #ff9800;
  --yellow: #ffc107;

  --blue-light-1: #81d4fa;
  --blue-light-2: #b3e5fc;

  --gray-light-1: #e0e0e0;
  --gray-light-2: #b0bec5;
}

.menuTitle {
  color: var(--green-dark-3);
  font-size: 25px;
  width: 950px;
  text-align: center;
  margin-top: 50px;
  margin-left: 500px;
}

.menuCategories {
  margin-top: 150px;
}

.categoriesFoods {
  margin-top: 100px;
  margin-left: 300px;
  list-style: none;
  font-size: 25px;
  color: var(--green-dark-1);
  display: flex;
}

.categoriesFoods li {
  background-color: var(--beige-1);
  margin: 30px;
  width: 200px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px var(--green-dark-3);
  cursor: pointer;
}

.categoriesFoods a {
  text-decoration: none;
  color: var(--green-dark-1);
}

.categoriesFoods li:hover {
  color: var(--green-dark-3);
  box-shadow: 0 0 10px var(--green-dark-2);
  transform: scale(1.1);
}