:root {
  --green-light-1: #a8e6cf;
  --green-light-2: #c5e8a9;
  --green-dark-1: #4caf50;
  --green-dark-2: #426b1f;
  --green-dark-3: #388e3c;

  --beige-1: #f1f1f1;
  --beige-2: #ffffff;
  --beige-3: #e6e6e6;
  --beige-4: #fff8e1;
  --beige-5: #fefefe;

  --orange: #ff9800;
  --yellow: #ffc107;

  --blue-light-1: #81d4fa;
  --blue-light-2: #b3e5fc;

  --gray-light-1: #e0e0e0;
  --gray-light-2: #b0bec5;
}

.menuTitle {
  color: var(--green-dark-3);
  font-size: 25px;
  width: 950px;
  text-align: center;
  margin-top: 100px;
  margin-left: 500px;
}

.menuCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

.categoriesFoods {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.categoriesFoods button {
  background-color: var(--beige-2);
  font-size: 25px;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--green-dark-1);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.categoriesFoods button:hover {
  background-color: var(--green-dark-1);
  color: var(--beige-2);
  transform: translateY(-5px);
}

.categoriesFoods a {
  text-decoration: none;
  color: inherit;
}

.categoriesFoods button:hover {
  transform: scale(1.1);
}

.modalTitle {
  color: var(--green-dark-3);
  font-size: 30px;
}

.modalMenuContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContentMenu {
  background-color: var(--beige-5);
  width: 70%;
  height: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.closeButton {
  background-color: var(--green-dark-1);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.closeButton svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.closeButton:hover {
  background-color: #ff0000;
  transition: 0.2s;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.imgMenu img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  display: flex;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  margin: 5px;
}

.imgMenu img:hover {
  transform: scale(1.1);
}

.dishInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 220px;
}

.valueDish {
  font-size: 20px;
  color: var(--green-dark-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  height: 50px;
  text-align: center;
}

.svgButtonCar {
  border: none;
  background: none;
  margin-right: 10px;
}

.svgIcon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.svgIcon:hover {
  transform: scale(1.3);
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}